.mlvl {
  overflow: auto; }

.mlvl__level {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #444444;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  -o-transition: transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 2; }

.mlvl__level--top {
  position: static;
  background: none;
  overflow: hidden; }

.mlvl__level--is-hidden {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }
  .no-csstransitions .mlvl__level--is-hidden {
    display: none; }

.mlvl__back {
  display: block;
  width: 100%;
  padding: 20px; }
  .mlvl__back:hover, .mlvl__back:active, .mlvl__back:focus {
    background: #f60; }

.nav {
  background: #333;
  color: #fff;
  width: 400px;
  font-size: 1.2rem;
  height: 150px;
  overflow: auto; }
  .nav a {
    color: #fff; }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav ul li {
      border-bottom: 1px solid #666; }
    .nav ul a {
      display: block;
      padding: 10px 20px;
      text-decoration: none; }
      .nav ul a.mlvl__parent:not(.mlvl__parent-clone):after {
        content: ' >'; }
      .nav ul a:hover {
        background: #555; }
  .nav .mlvl__back-icon:before {
    content: '<'; }
